<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>986739771620-c6d45pdreaocoqheo8i068h9kus4dv0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986739771620-c6d45pdreaocoqheo8i068h9kus4dv0g</string>
	<key>API_KEY</key>
	<string>AIzaSyD41oiOsqHkOoqyMYg9x76SCFct0sNUJLk</string>
	<key>GCM_SENDER_ID</key>
	<string>986739771620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TransTech.cant-sleep</string>
	<key>PROJECT_ID</key>
	<string>cant-sleep-b3e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>cant-sleep-b3e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986739771620:ios:a0c13b9081d53985</string>
	<key>DATABASE_URL</key>
	<string>https://cant-sleep-b3e0b.firebaseio.com</string>
</dict>
</plist>